<html><head></head><body>
<form class="form-job" action="/job-post" method="post" accept-charset="utf-8" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="email" placeholder="Email" />
  <input type="text" name="phone" placeholder="Phone" />
  <input type="text" name="job" placeholder="Job" />
  <textarea name="cover" placeholder="Cover letter"></textarea>
  <input type="file" name="file" />

  <input type="submit" class="button submit-form" value="Send" />
</form>
</body>
</html>
